body{

    background-color: #262427;
    font-family: Helvetica;
}


.listLayout{
    margin: 0% 10%;
    padding: 4%;
    list-style-type: none;
    color: #ffffff;
    column-count: 2;
    overflow: hidden; /*keeps list items inside of div*/
    overflow-y:scroll;
}

.listLayout li:hover {
    color: #afda77;
   
}

.greenUpperTextTitle{
    color: #84bd00;
    margin: 0% 10%;
    font-weight: normal;
 
}

.yellowMainTitle{
    color: #c5980f;
    margin: 0% 10%;
    padding: 0 0 3% 0;
    font-weight: normal;

    

}