.input-element{
    width: 100%;
    padding: 12px 20px;
    margin: 1em auto;
    box-sizing: border-box;
    font-size: 1em;
    color: #9c9b9d;
    background-color: #333035;
    border: none;

}

.input-element:focus{
    outline: none;
}

.select-items {
    width: 15em;
    padding: 12px 20px;
    margin: 2em 0;
    box-sizing: border-box;
    font-size: 1em;
    color: #9c9b9d;
    background-color: #333035;
    border: none;
    display: flex;  
 
}

.select-items:hover {
    background-color: #84bd00;
    color: white;
}

.select-items:focus{
    outline: none;
}

.invalid{
    border: 1px solid red;
}

.green-title{
    color: #84bd00;
    font-weight: normal;
    text-transform: uppercase;
    /* margin: 1em auto; */
}


ol.course-list{
    list-style-type: none;
    color: #9c9b9d;
    margin: 2em -2em;
    overflow-y:scroll;
    height:17em; 
}



