#plan-name-heading {
  display: inline-block;
  margin: 0;
  border: 1px solid #1a191b;
  background-color: #1a191b;
  padding: 0.135em 0.1em;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

input#plan-name-heading {
  margin: 0;
  display: block;
  -webkit-appearance: none;
  text-align: start;
  color: #e4e4e4;
  border: 1px solid grey;
  border-radius: 0.25em;
  background-color: black;
  box-sizing: border-box;
  height: 1.5em;
  font-weight: normal;
  font-size: 1.5em;
  font-family: Helvetica;
}

h3#plan-name-heading:hover {
  border: 1px solid grey;
  border-radius: 0.25em;
  background-color: black;
  box-sizing: border-box;
}