#plan-name-heading {
  display: block;
  margin: 0;
  border: 1px solid #1a191b;
  background-color: #1a191b;
  padding: 0.135em 0.1em;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  min-width: 5em;
  min-height: 1em;
  color: #e4e4e4;
  -webkit-appearance: none;
}

#plan-name-heading:focus {
  background-color: black;
  border-radius: 0.25em;
  border: 1px solid grey;
}

#plan-name-heading:hover {
  background-color: black;
  border-radius: 0.25em;
  border: 1px solid grey;
}