{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "strict": 0,
    "camelcase": [2, {"properties": "always"}],
    "semi": 2,
    "no-multiple-empty-lines": 2,
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "import", "next": "class" }
    ],
    "no-console":"off"
  },
  "settings": {
    "react": {
      "version": "16.0"
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "mocha": true
  }
}