body{

    background-color: #262427;
    font-family: Helvetica;
}

.login-heading {
    text-align: center;
    color: #ffffff;
   
}

.green-title{
     color: #84bd00;
     font-weight: normal;
     text-transform: uppercase;
     margin: 2em 4em;

}

.green-borderbtn{
    background:none;
    margin: auto auto;
    border-color: #84bd00;
    padding:.5em 1em;
    cursor: pointer;
    color: #84bd00;
    font-size: 1em;
    display: block;
    overflow: hidden;
}


.green-borderbtn:hover {
    /* background-color: #84bd00;  */
    color: #afda77;
    border-color: #afda77;
}

.yellow-title{
    color: #c5980f;
     font-weight: normal;
     text-transform: uppercase;
     margin: 2em 2em;
}

/* .Menu{
    background-color: #201e21;
    width: 50%;
    padding: 2em 4em;
    margin: 10% auto;   
} */

input[type=text] {
    width: 30%;
    padding: 12px 12px;
    margin: auto 4em;
    box-sizing: border-box;
    font-size: 1em;
    color: #9c9b9d;
    background-color: #333035;
    border: none;
}


/* a{
    color: #84bd00;
}
a:hover {
    color: #afda77;
} */




