.courseinfo-wrapper{
    color: white;
    font-family: Helvetica;
    padding: 5%;
    display: flex;
    flex-direction: column;
    
}

.course-info-body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#course-info-body{
    overflow: hidden;
}
