#main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 6fr 4fr;
  grid-template-areas: 
    "sidebar planner-header"
<<<<<<< HEAD
    "sidebar planner-header"
=======
    "sidebar planner"
>>>>>>> c9c2572f803245e51f79ad3b248ef2ec0e0b04eb
    "sidebar planner"
    "sidebar planner";
  background-color: #1a191b;
  position: relative;
  color: #e4e4e4;
}

#planner-area-container {
  position: relative;
  grid-area: planner;
  background-color: #262427;
}

#planner-header {
  grid-area: planner-header;
  background-color: #1a191b;
}

.sidebar {
  grid-area: sidebar;
}

.centered {
  margin: auto auto;
  text-align: center;
}

.sidebar-info-area {
  position: relative;
  box-sizing: border-box;
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
  border-bottom: lightgrey 1px solid;
}

.sidebar-header {
  margin-top: 0;
}

.sidebar-info-area > * {
  min-width: 130px;
  display: block;
}

.student-info-text {
  margin: 0;
  color: #e4e4e4;
}

.sidebar > .sidebar-info-area:last-child {
  box-sizing: border-box;
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
  border: none;
}

.sidebar-header {
  color: #c5980f;
}

#plan-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-button {
  display: block;
  text-align: left;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: #84bd00;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sidebar-button:focus {
  outline: none;
}

.sidebar-button:hover {
  color: #afda77;
}

.notes-text-area {
  background-color: #262427;
  color: #e4e4e4;
  border: none;
  height: 8em;
  width: 100%;
  resize: none;
  font-size: 1em;
  font-family: inherit;
}

.focus-element:focus {
  outline: none;
  border: 1px solid #84bd00;
}

.focus-element {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.add-term {
  top: 1em;
  right: 2em;
  background: none;
  border: none;
  color: #84bd00;
  font-size: 1em;
}