.side-drawer {
    height: 100%;
    background: #201e21;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: scroll;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }