body {
    background-color: #262427;
    font-family: Helvetica;
    color: #e4e4e4;
}

.username {
    color: #d4d7d8;
}

.logout-button {
    background-color: #71a009;
}

.admin-acc-logout-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.admin-heading {
    margin-bottom: 3em;
    color: #c5980f;
    text-align: left;
    font-weight: normal;
}

.admin-portal-parent-wrapper {
    margin: 6em auto;
    width: 80%;
    position: relative;
}

.choose-file-heading {
   color: #84bd00;
}

#choose-file-btn {
    display: none;
}

#choose-file-label {
    background-color: #e4e4e4;
    color: black;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin: 5em 0;
    width: 6em;
    display: block;
}

.comments-input {
    background-color: #333035;
    color: #9c9b9d;
    height: 5em;
    border: none;
    outline: none;
    resize: none;

}

.submit-file-btn {
    background-color: #262427;
    color: #84bd00;
    border-color: #84bd00;
    padding: 0.5em 4em;
    font-size: 1em;
}

.admin-submit-disclaimer-para {
    display: inline;
    color: #5d4b22;
}