.warning-snackbar-wrapper {
  -webkit-animation: 0.2s linear slideout;
  animation: 0.2s linear slideout;
  width: 15em;
  background-color: #c5980f; 
  color: black;
  text-align: center; 
  border-radius: 0.2em;
  padding: 0.2em; 
  position: absolute; 
  z-index: 1;
  left: 0;
  right: 0; 
  margin-left: auto;
  margin-right: auto;
  display: none;

}

.warning-snackbar-wrapper.show {
  display: block;
  -webkit-animation: 0.2s linear slidein;
  animation: 0.2s linear slidein;
  bottom: 2em;
}

/* Animations to fade the snackbar in */
@-webkit-keyframes slidein {
    from {bottom: -4em; opacity: 1;} 
    to {bottom: 2em; opacity: 1;}
}

@keyframes slidein {
    from {bottom: -4em; opacity: 1;}
    to {bottom: 2em; opacity: 1;}
}

@-webkit-keyframes slideout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: -4em; opacity: 1;}
}

@keyframes slideout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: -4em; opacity: 1;}
}

#close-snackbar-btn {
  cursor: pointer;
}

.closebtn-container {
  position: relative;
  
}

.warning-list-container {
  overflow-y: scroll;
  max-height: 20em;

}

.warning-message-container {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
