#term-view{
  display: flex;
  overflow-x: auto;

  max-width: 100vw;
}

#term-view::-webkit-scrollbar
{
    height: 0.4em;
}

#term-view::-webkit-scrollbar-thumb
{
    border-radius: 2em;
    background-color: #1a191b;
}