body{

    background-color: #262427;
    font-family: Helvetica;
}

.login-heading {
    text-align: center;
    color: #ffffff;
   
}

.menu{
    background-color: #201e21;
    width: 50%;
    padding: 2em 4em;
    margin: 10% auto;   
}


.input-element:focus{
    border: none;
}

/* THIS BTN IS TO OPEN DIFFERENT MENU THEN WHAT IS ACTIVE*/
.open-diff-menubtn{
    background:none;
    border:none; 
    cursor: pointer;
    color: #84bd00;
    font-size: 1em;
    display: block;
}

a{
    color: #84bd00;
    
}
a:hover {
    color: #afda77;
}
/* THIS BTN IS TO CREATE AN ACCOUNT FOR USER */
.create-accountbtn{
    background:none;
    margin: 2em auto;
    border-color: #84bd00;
    padding:1em 2em;
    cursor: pointer;
    color: #84bd00;
    font-size: 1em;
    display: block;
}

.create-accountbtn:hover {
    /* background-color: #84bd00;  */
    color: #afda77;
    border-color: #afda77;
}

.create-accountbtn:disabled{
    cursor: not-allowed;
}

.defaultbtn{
    /* width: 50%; */
    padding: 1em 6em;
    margin: 2em auto;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    color: #9c9b9d;
    background-color: #333035;
    border: none;
    /* display: block; */
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;

}

.deafultbtn:hover {
    background-color: #84bd00; 
    color: black;
}

.deafultbtn:disabled{
    cursor: not-allowed;

}

.btn-div{
    margin: 4em 0em;
    display: flex;
    flex-direction: row;
    /* text-align: center;  */
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


.warning-msg{
    color:  white;
    list-style-type: none;

}

