body{

    background-color: #262427;
    font-family: Helvetica;
}

.login-heading {
    text-align: center;
    color: #ffffff;
   
}

.Menu{
    background-color: #201e21;
    width: 50%;
    padding: 2em 4em;
    margin: 10% auto;   
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 1em 0;
    box-sizing: border-box;
    font-size: 1em;
    color: #9c9b9d;
    background-color: #333035;
    border: none;
}

/* BTN ALLOWS USER TO LOG INTO VCP */
.loginbtn{
    width: 50%;
    padding: 9px 20px;
    margin: 2em 10em;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    color: #9c9b9d;
    background-color: #333035;
    border: none;

}

.loginbtn:hover {
    background-color: #84bd00; 
    color: black;
}

/* THIS BTN IS TO OPEN DIFFERENT MENU THEN WHAT IS ACTIVE*/
.openDiffMenubtn{
    background:none;
    border:none;
    cursor: pointer;
    color: #84bd00;
    font-size: 1em;
    display: block;
}

a{
    color: #84bd00;
}
a:hover {
    color: #afda77;
}

/* THIS BTN IS TO CREATE AN ACCOUNT FOR USER */
.createAccountbtn{
    background:none;
    margin: 2em auto;
    border-color: #84bd00;
    padding:1em 2em;
    cursor: pointer;
    color: #84bd00;
    font-size: 1em;
    display: block;
}

.createAccountbtn:hover {
    /* background-color: #84bd00;  */
    color: #afda77;
    border-color: #afda77;
}



