
.close-sidebarbtn {
    background:none;
    border:none;
    margin: 0em auto;
    cursor: pointer;
    color: #84bd00;
    white-space: nowrap;
    overflow: hidden;

    float: right;
}

.close-sidebarbtn:focus {
    outline: none;
}